@font-face {
    font-family: 'Cedarville Cursive';
    font-style: normal;
    font-weight: 400;
    src: url("./CedarvilleCursive-Regular.ttf");
}

/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./castle-bg.jpeg");
    background-position: center;
    font-family: cursive;
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Page Layout */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 15px;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    margin: 0 60px;
}

.hero {
    position: relative;
}

.hero > h1 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5rem;
    color: white;
    background-color: rgb(135, 135, 135, .5);

    position: absolute;
    top: calc(40%);

    width: 100%;
    text-align: center;
}

.hero > img {
    width: 100%;
}

.hero > .caption {
    color: gray;
    font-size: 1rem;

    position: absolute;
    right: 15px;
    bottom: 15px;
}

.section {
    padding: 15px 60px;
    color: black;
}

blockquote {
    padding: 15px 60px;
    width: max(60%, 600px);
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
}

blockquote > p::before {
    content: '\201C';
}

blockquote > p::after {
    content: '\201D';
}

blockquote > footer {
    text-align: right;
}

.footer {
    padding: 10px 30px;
    background-color: green;
    color: white;
    font-size: 1rem;
}